<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>各种封装demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>810B6CBF1F8DA7B9001CE0D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>810B6CD81F8DA7B9001CE0D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>810B6CE31F8DA7B9001CE0D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
